<%= simple_form_for @benevole do |f| %>
  <div class="mt-3">
    <%= f.input :first_name, placeholder: "Prenom", label: false %>
  </div>
  <div class="mt-3">
    <%= f.input :last_name, placeholder: "Nom de famille", label: false %>
  </div>
  <div class="mt-3">
    <%= f.input :email, placeholder: "Email", label: false %>
  </div>
  <div class="mt-3">
  <%= f.input :telephone, placeholder: "Telephone", label: false %>
  </div>
  <div class="mt-3">
    <%= f.input :comment, placeholder: "Any remarks?", label: false %>
  </div>
  <div class="mt-3">
    <%= f.submit class:"btn btn-warning"%>
  </div>
<% end %>
