<div class="binome-card">
  <%= simple_form_for @binome do |f| %>
    <%= f.association :user, label_method: :last_name, value_method: :id, prompt: "Choose an admin" %>
    <%= f.association :benevole %>
    <%= f.association :client %>
    <%= f.input :request_status, label: "Select a request status", collection: Binome::REQUEST_STATUS %>
    <%= f.input :to_do, placeholder: "To Do", label: false %>
    <%= f.input :status, as: :text, placeholder: "Status", label: false %>
    <%= f.input :connection_date, as: :date, label: "Date de mise en relation" %>
    <%= f.submit class:"btn btn-warning"%>
  <% end %>
</div>
