<div class="container mt-5">
  <h1 class="text-center">Liste de tous les binomes</h1>
  <%= form_tag binomes_path, method: :get do %>
    <%= label_tag 'Request Status' %>
    <%= select_tag "query", options_for_select(["🟠 A SUIVRE", "🟢 RAS", "🔴 CONTACT PERDU", "🔵 DOSSIER CLOTURE", "🟣 BINOME PAPIER"]) %>
    <%= submit_tag "Search", class: "btn btn-warning" %>
  <% end %>

  <% if @binomes %>
    <% @binomes.each do |binome| %>
      <%= link_to binome_path(binome) do %>
        <div class="binome_dasboard_card">
          <div class="item_binome_dasboard_card"><strong>Benevole:</strong> <%= binome.benevole.first_name %> <%= binome.benevole.last_name %></div>
          <div class="item_binome_dasboard_card"><strong>Client:</strong> <%= binome.client.first_name %> <%= binome.client.last_name %></div>
          <div class="item_binome_dasboard_card"><strong>Request Status:</strong> <%= binome.request_status %></div>
          <div class="item_binome_dasboard_card"><strong>Date de mise en relation:</strong> <%= binome.connection_date %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
